.App {
  text-align: center;
}

.home-page {
  background: url('Pictures/pixilart-drawing.gif');
  background-size: 10%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.home-header {
  text-align: center;
  padding: 60px 0 0;
  box-sizing: border-box;
  height: 100px;
}

.home-header-title {
  font-family: "fantasy", papyrus;
  color: #f1fbb6;
  font-size: 52px;
  margin: 0;
}

.App-header {
  background-color: #4d6ba8;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(207, 151, 198);
}